<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/style.css">
    <title>Page Title</title>
</head>
<body>
{{>header}}
<h1>This is a {{title}} page</h1>
<p>My name is {{name}}</p>
<img src="./img/a1.png" alt="">
{{>footer}}
</body>
</html>