<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/style.css">
    <title>Page Title</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h1>This is a {{title}} page</h1>
    </div>
{{>footer}}
</body>
</html>